//FONT


$text-color: #000000
$magenta: #D12E7C
$red: #F15A22
$orange: #F99D1C
$green: #06AB71
$blue: #27AAE1
$purple: #6B6EB3
$grey: #808285
$default-font: 'Times New Roman', sans-serif

html
    font-family: $default-font
    color: $grey
h1, h2, h3, h4, h5, p, a
    margin: 0
    padding: 0
    color: #000000

.container
    margin: 0 auto

.team
    &__container
        text-align: center
    &__header
        text-align: center
        display: inline-block
        border-bottom: 3px solid $magenta
    &__email
        color: $magenta
